@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@500&family=Nanum+Gothic+Coding&family=Press+Start+2P&family=Roboto:wght@500&family=Rubik&family=Share+Tech&family=Source+Code+Pro&family=Ubuntu:wght@300&display=swap');


:root {
    --purple1: rgb(234, 0, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

/* #root,
.posR,
.allSects, .sectC {
    scroll-behavior: smooth;
} */

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.5rem;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    /* border: 0.3rem solid rgb(255, 255, 255); */
}

::-webkit-scrollbar-thumb {
    border-radius: 0.9rem;
    background: rgb(0, 183, 255);
    background-clip: padding-box;
    border: 0.1rem solid rgb(255, 255, 255);
    /* box-shadow: 0 -100vh 0 100vh var(--lightSomColor); */
}

.divf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fdirc {
    flex-direction: column;
}

.jusSpaceB {
    justify-content: space-between;
}

.posR {
    position: relative;
}

.fullWH {
    width: 100%;
    height: 100%;
}

.cursor-dot {
    z-index: 100000;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: rgb(0, 183, 255);
    box-shadow: 0 0 0.2rem 0.3rem rgb(176, 233, 255);
}

.specB1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;

    border: none;
    outline: none;
    transition: 0.3s all ease-out;
    border-left: 0.3rem dashed black;
    border-right: 0.3rem dashed black;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
}

.specB1:hover {
    border-bottom: 0.3rem solid rgb(0, 60, 255);
    color: rgb(0, 60, 255);
    /* background: black;
    color: white; */
}

.mainbg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* background-image: url("../assets/bg1.avif");
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover; */
    /* filter: blur(1rem); */
    /* box-shadow: 0 0 transparent; */
    background: #272640;
    background: black;
    padding-top: 3rem;
    height: 100%;
}

.MidCH {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 2rem;
    z-index: 5;
    padding: 2rem;
    padding-top: 4rem;
}

.MidCH .d1 {
    gap: 1.5rem;
    width: 100%;
}

.MidCH .d2 {
    gap: 0.5rem;
    width: 100%;
}


.hackTitle1 {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(219, 219, 219, 0.2);
}

.blurAn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.blurAn div {
    position: absolute;
    /* left: 10%;
    top: 10%; */
    background: rgba(0, 185, 169, 1);
    /* opacity: 0.5; */

    border-radius: 50%;
    filter: blur(4rem);
}

.blurAn .b1 {
    background: rgba(0, 230, 211, 0.5);
    top: 1%;
    left: 1%;
    width: 12rem;
    height: 12rem;
    animation: rotB1 5s infinite linear;
}

@keyframes rotB1 {
    0% {
        transform: translate(-50%, -50%);
        opacity: 0.4;
    }

    25% {
        transform: translate(0%, 30%);
        opacity: 0.4;
    }

    50% {
        transform: translate(100%, 70%);
        opacity: 0.3;
    }

    75% {
        transform: translate(-100%, 200%);
        opacity: 0.5;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 0.4;
    }
}

.blurAn .b2 {
    bottom: 1%;
    right: 1%;
    width: 10rem;
    height: 10rem;
    animation: rotB2 7s infinite linear;
    animation-delay: 0.3s;
    filter: blur(5rem);
    background: rgba(255, 107, 230, 0.808);
}

@keyframes rotB2 {
    0% {
        transform: translate(10%, 10%);
        opacity: 0.2;
    }

    25% {
        transform: translate(0%, -30%);
        opacity: 0.3;
    }

    50% {
        transform: translate(-100%, -70%);
        opacity: 0.5;
    }

    75% {
        transform: translate(-300%, 0%);
        opacity: 0.4;
    }

    100% {
        transform: translate(10%, 10%);
        opacity: 0.2;
    }
}

.blurAn .b3 {
    bottom: 50%;
    right: 50%;
    width: 10rem;
    height: 10rem;
    animation: rotB3 10s infinite linear;
    animation-delay: 0.2s;
    filter: blur(5rem);
    background: rgb(243, 255, 254);
}

@keyframes rotB3 {
    0% {
        transform: translate(0);
        opacity: 0.2;
    }

    25% {
        transform: translate(-50%, -30%);
        opacity: 0.3;
    }

    50% {
        transform: translate(0%, 70%);
        opacity: 0.5;
    }

    75% {
        transform: translate(100%, 90%);
        opacity: 0.4;
    }

    100% {
        transform: translate(0);
        opacity: 0.2;
    }
}

.blurAn .b4 {
    top: -20%;
    right: -20%;
    width: 30rem;
    height: 30rem;
    animation: rotB4 7s infinite linear;
    animation-delay: 0s;
    filter: blur(5rem);
    background: rgba(0, 230, 211, 0.4);
}

@keyframes rotB4 {
    0% {
        transform: translate(0);
        opacity: 0.2;
    }

    50% {
        /* transform: translate(-100%, -100%); */
        top: 100%;
        right: 100%;
        opacity: 0.2;
    }

    75% {
        transform: translate(0);
        top: -50%;
        right: 50%;
        opacity: 0.2;
    }

    100% {
        top: -20%;
        right: -20%;
        opacity: 0.2;
    }
}

.blendContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh);
    height: 100%;
    width: 100%;
    z-index: 100;
    /* transition: 2s all ease-out; */
}

#canvas {
    z-index: 2;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.lights {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 5rem;
    height: 0.1rem;
    background: rgba(255, 255, 255, 0.8);
}

.lights::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    width: 1rem;
    height: 1rem;
    transform: translate(-50%, -50%);
    background: white;
    left: 0;
    top: 0;
    border-radius: 50%;
}



.hackerImg {
    width: 20rem;
}


.header3d {
    /* position: absolute;
    top: 25%;
    left: 50%; */
    z-index: 2;
    /* transform: translate(-50%, -50%); */
    color: white;
    background: rgba(255, 255, 255, 0.05);
    background: linear-gradient(rgba(128, 0, 128, 0.2), rgba(0, 0, 255, 0.1), rgba(0, 236, 216, 0.1), rgba(0, 41, 226, 0.1));
    backdrop-filter: blur(0.2rem);
    padding: 0.3rem 1.5rem;
    padding-bottom: 0;
    font-size: 6rem;
    font-weight: bold;
    border-radius: 0.8rem;
    animation: animHeader3d 0.4s linear;

    /* margin-bottom: 2rem; */
    /* transition: 0.8s all cubic-bezier(0.1, 0.2, 0.3, 1); */
    /* transition-delay: 0.1s; */
}

.inHack {
    font-family: "Press Start 2P", "serif";
    text-shadow: 0.5rem 0.2rem 1rem rgb(234, 0, 255);
    /* line-height: 4rem; */
}

.inMela {
    font-family: "Press Start 2P", "serif";
    text-shadow: 0.5rem 0.2rem 1rem rgb(17, 0, 255);
}

@keyframes animHeader3d {
    0% {
        font-size: 40rem;
    }

    100% {
        font-size: 7rem;
    }
}

.learnMoreB {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 5;
}

.countD {
    padding: 0.8rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    gap: 0.5rem;
    backdrop-filter: blur(0.5rem);
    margin-bottom: 0.5rem;
}

.fColon {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.countCard {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.4rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    font-weight: bold;
    width: 5rem;
    height: 5rem;
    text-shadow: 0 0 0.5rem purple;
}

.countTit {
    font-size: 0.9rem;
}

.regEnds {
    color: white;
}

.registerH {
    /* position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 0.3rem 0.9rem;

    border: 0.2rem solid white;
    border-radius: 1rem;
    background: #2368fb;
    color: white;
    outline: 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s all ease-out;
}

.registerH:hover {
    border-radius: 1.5rem;
}

.expandDotB {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: 2000000;
}

.doExpandDot {
    /* box-shadow: 0 0 20rem 0.1rem white; */

    background: black;
    border-radius: 50%;
    animation: expandD 0.8s normal linear;
    z-index: 20000;
    box-shadow: 0 0 0.1rem 60vw rgb(0, 0, 0);
}

@keyframes expandD {
    0% {
        /* border-radius: 50%; */
        box-shadow: 0 0 0 0 rgb(0, 0, 0);
    }

    100% {
        /* border-radius: 100%; */
        box-shadow: 0 0 0.1rem calc(100vw + 100vh) rgb(0, 0, 0);
    }
}

.loadBeB {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background: ; */
    color: white;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.2);
    transition: all 1s ease-out;
    gap: 1rem;
}

.loadBeB logo1 {
    height: 5rem;
}

.loadBeB .pres {
    font-size: 3rem;
}

.loadBeDI img {
    height: 4rem;
}

.loadBeB p {
    font-size: 1rem;
}

.loaderAnim {
    z-index: 10000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    gap: 1rem;
    z-index: 100;
}

.loaderAnim .lP {
    color: white;
    font-size: 1.5rem;
    animation: blinkText infinite 0.9s linear;
}

@keyframes blinkText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loaderAnim .ac {
    position: relative;
    border-radius: 0.8rem;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 20rem;
    height: 1.5rem;
    background: rgb(80, 80, 80);
    border: 0.2rem solid rgb(0, 255, 0);
    box-shadow: 0 0 0.7rem 0rem rgba(17, 255, 17, 1);
    color: white;
    overflow: hidden;
    /* animation: expandA1 infinite 2s linear; */
}

.loaderAnim .ac::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* background: rgb(76, 253, 76); */
    width: 100%;
    height: 0;
    left: -100%;
    border-top: 0.5rem dashed rgb(76, 253, 76);
    border-bottom: 0.5rem dashed rgb(76, 253, 76);
    animation: progressB infinite 10s linear;
}

@keyframes progressB {
    0% {
        left: -100%;
    }

    /* 10% {
        left: -90%;
    } */

    20% {
        left: -80%;
    }

    /* 30% {
        left: -70%;
    }

    40% {
        left: -60%;
    } */

    50% {
        left: -50%;
    }

    /* 60% {
        left: -40%;
    }

    70% {
        left: -30%;
    } */

    80% {
        left: -20%;
    }

    /* 90% {
       left: -10%;
    } */

    100% {
        left: 0;
    }
}