@media (max-height: 850px) {
    .hackTitle1 {
        width: 10rem;
        height: 10rem;
    }

    .header3d {
        font-size: 4rem;
    }
}

@media (max-width: 800px) {
    #navAllLinks {
        display: none;
    }

    #idMenuB {
        display: block !important;
    }

    .Prize {
        width: 8rem;
        height: 15rem;
    }

    .allPr .prSil {
        width: 7rem;
        height: 14rem;
    }

    .allPr .prBro {
        width: 6.5rem;
        height: 13rem;
    }

    .pH2 {
        font-size: 1.2rem;
    }

    .trophy {
        width: 5rem;
    }

    .silver .trophy {
        width: 4.5rem;
    }

    .bronze .trophy {
        width: 4rem;
    }

    .header3d {
        font-size: 4rem;
    }

    .countCard {
        font-size: 1.2rem;
        padding: 0.3rem;
        width: 4rem;
        height: 4rem;
    }

    .countD {
        padding: 0.5rem;
        gap: 0.3rem;
    }
}

@media (max-width: 530px) {
    .allPr {
        flex-wrap: wrap;
    }

    .sponC {
        /* width: 80%; */
        height: 3rem;
    }

    .vCMT {
        font-size: 0.9rem;
        overflow-wrap: break-word;
    }

    .allSects {
        padding: 4rem 0.1rem;
    }

    .vCL {
        padding: 0.7rem 0.5rem;
        padding-top: 2.5rem;
        margin-right: 1.5rem;
        width: 35vw;
    }

    .diviVL {
        width: 1.5rem;
    }

    .vCR {
        margin-left: 1.5rem;
    }

    .timeForE {
        font-size: 0.8rem;
        left: 0.5rem;
        top: 0.3rem;
    }

    .registerH {
        font-size: 1.5rem;
    }

    .learnMoreB {
        font-size: 1.2rem;
        right: 50%;
        transform: translateX(50%);
        bottom: 1rem;
    }
}

@media (max-width: 450px) {
    .header3d {
        font-size: 3rem;
    }

    .countCard {
        font-size: 1rem;
        padding: 0.3rem;
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 350px) {
    .header3d {
        font-size: 2.5rem;
    }

    .countCard {
        font-size: 0.6rem;
        padding: 0.2rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    .countTit {
        font-size: 0.7rem;
    }
}

/* @media (max-width: 350px) {
    .header3d {
        font-size: 2.5rem;
    }

} */