.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.2rem 1rem;
    /* height: 3rem; */
    z-index: 120;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1rem);
    /* flex-direction: row-reverse; */
}

.navInfo {
    flex-direction: row;
    /* background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(0.5rem); */
    padding: 0.5rem 1rem;
}

.navIReg {
    padding: 0.3rem 0.5rem;

    border: 0.12rem solid white;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

.hmKhaas {
    height: 4rem;
    /* border-radius: 50%; */
}

.logo1 {
    /* width: 2.5rem; */
    height: 2rem;
    background: white;
    border-radius: 0.2rem;
    padding: 0.2rem 0.3rem;
}

.xForLogo {
    color: white;
}

.logoCon {
    gap: 0.3rem;
}

.menuNB {
    background: none;
    padding: 0;
    outline: none;
    border: none;
    color: white;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.menSlider {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    top: -100%;
    transition: 0.3s all ease-out;
    overflow: hidden;
}

.openSlider {
    top: 0 !important;
}

.openM {
    transform: rotate(180deg);
}

.allLinks {
    gap: 0.7rem;
}

.allLinks button {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: 0.2s all ease-out;
    padding: 0.3rem 0.3rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    text-decoration-line: underline;
    text-decoration-color: aqua;
    word-spacing: -0.2rem;
}

.aRN {
    background: rgba(2, 0, 128, 1) !important;
    font-weight: bold;
}

.aRN:hover {
    background: rgba(2, 0, 128, 1) !important;
    cursor: default;
}

.allLinks button:hover {
    /* text-decoration: dashed; */
    /* text-decoration-color: blue; */
    /* text-decoration-line: underline; */
    background: rgba(2, 0, 128, 0.6);
}